@model Employee

@{ 
    ViewData["Title"] = "Demo";
}

<h1>Demo</h1>

@*<p>Name: @ViewData["name"]</p>
<p>Salary: @ViewData["salary"]</p>*@

@*<p>Name: @ViewBag.Name</p>
<p>Salary: @ViewBag.Salary</p>*@

<p>Name: @Model.Name</p>
<p>Salary: @Model.Salary</p>